@import './themes';

@mixin dark_custom() {
    .nb-theme-dark nb-card nb-list::-webkit-scrollbar {
        width: .3125rem;
        height: .3125rem;
    }
    .nb-theme-dark nb-card nb-list::-webkit-scrollbar-thumb {
        background: #101426;
        cursor: pointer;
        border-radius: .15625rem;
    }
    .nb-theme-dark nb-card nb-list::-webkit-scrollbar-track {
        background: #192038;
    }
}